body{
font-family: Arial;
background: linear-gradient(120deg,#4facfe,#00f2fe);
display:flex;
justify-content:center;
align-items:center;
height:100vh;
margin:0;
}

.container{
background:white;
padding:30px;
border-radius:10px;
width:500px;
box-shadow:0 0 15px rgba(0,0,0,0.2);
text-align:center;
}

h1{
color:#333;
}

input{
width:90%;
padding:10px;
margin:10px;
border:1px solid #ccc;
border-radius:5px;
}

button{
padding:10px 15px;
border:none;
border-radius:5px;
background:#4facfe;
color:white;
cursor:pointer;
margin:5px;
}

button:hover{
background:#0077ff;
}

.hidden{
display:none;
}

.option{
display:block;
background:#eee;
padding:10px;
margin:8px;
border-radius:5px;
cursor:pointer;
}

.option:hover{
background:#ddd;
}

.correct{
background:#4CAF50;
color:white;
}

.wrong{
background:#f44336;
color:white;
}

#question{
font-size:18px;
margin-bottom:10px;
}

.topBar{
display:flex;
justify-content:space-between;
margin-bottom:10px;
}

#feedback{
font-weight:bold;
margin-top:10px;
}

#scoreBoard{
margin-top:15px;
font-size:18px;
}